.main-button {
  padding: 0% 1%;
  border-radius: 10px;
  background-color: rgba(255,134,98,1);
}
.main-button:hover {
  background-color: rgb(255, 157, 128);
}

.main-button--text {
	font-style: normal;
	color: rgba(255,255,255,1);
}
.main-button--text:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}
