.roommate-agreement {
  margin: 10% 3% 3% 0%;
  display: flex;
  flex-flow: row;
  align-items: center;
  /* flex-wrap: wrap; */
}

.roommate-agreement > label {
  border: 4px solid var(--main-color);
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 4%;
  flex-shrink: 1;
}

.roommate-agreement > label > input {
  display: none;
}

.roommate-agreement > label > span {
  font-size: 31px;
  color: var(--main-color);
  position: relative;
  top: -12px;
  left: 1px;
}

.roommate-agreement--agreement {
  font-size: 12px;
  max-width: 400px;
  color: var(--main-color)
}

.roommate-confirmation--error{
  font-size: 12px;
  max-width: 400px;
  color: red
}

.roommate-agreement__agreements {
  display:flex;
  flex-direction: column;
}