.data-container{
  position: relative;
}
.container-child {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.detail-box{
  font-family: Lato;
  display: flex;
  flex-direction: column;
  direction: ltr;
  margin: 2%;
  width: 28%;
  height: 30px;
}
.detail-value{
  color: var(--main-color); 
  font-size: 16px;
  font-weight: 900;
  line-height: 110%;
  white-space: nowrap;
}
.detail-category{
  position: relative;
  top: -3px;
  color: #A0AFA1;
  font-size: 9px;
}

.new-scroll-left{
  direction : rtl;
}

.no-roommate{
  display: flex;
  align-items: center;
}

.tiny-button {
  font-size: 8px;
  width: 60px;
  height: 20px;
  margin-left: 20px;
  font-family: Helvetica;
  white-space: pre-wrap;
  line-height: 10px;
  overflow: visible;
  text-transform: uppercase;
}

.tiny-button:hover{
  background-color: #333333;
  color: white;
}

.bed-and-bath {
  font-size: 12px;
  height: auto;
}

@media only screen and (min-width: 550px) {
  .data-container{
    position: relative;
    min-width: 120px;
    max-height: 225px;
    overflow-x: visible;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-child {
    display: block;
    overflow: auto;
    height: 100%;
  }
  .detail-value{
    font-size: 35px;
  }
  .detail-box{
    margin: 0px 0px 20px 0px;
    width: 100%;
  }
  .bed-and-bath {
    font-size: 20px;
    height: 35px;
  }
}