.mode-container {
  /* padding: 0% 2%; */
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon-container{
  width: 100%;
  border-bottom: solid rgb(240, 240, 240) 2px;
  text-align: center;
  padding: 1%;
  margin: 1px 0%;
}
.icon-container-selected{
  width: 100%;
  border-bottom: solid var(--main-color) 6px;
  text-align: center;
  padding: 1%;
  /* margin: 3%; */
}
.icon-container:hover {
  width: 100%;
  border-bottom: solid var(--main-color) 6px;
  text-align: center;
  padding: 1%;
  cursor: pointer;
  
}
.icon-container:hover > .mode-icon{
  background-color: var(--main-color);
  color: white;
  /* padding: 1%; */
  /* box-shadow: none; */
  border-radius: 50%;
  font-size: 12px;
  transition-duration: 500ms;
}

.mode-icon {
  background-color: rgb(163, 163, 163);
  /* border: solid lightgray 3px; */
  /* box-shadow: 2px 0px 3px rgb(136, 136, 136); */
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 1%;
  border-radius: 50%;
  font-size: 12px;
}

.mode-icon-selected {
  background-color: var(--main-color);
  color: white;
  /* padding: 1%; */
  /* box-shadow: none; */
  border-radius: 50%;
  font-size: 12px;
  transition-duration: 500ms;
}

@media only screen and (min-width: 550px) {
  .mode-container {
    max-width: 78%;
  }
}