.apartment{
  display: flex;
  flex-direction: column;
  max-width: 580px;
  width: 100%;
  margin: 5% 1%;
}

.main-card-display{
  width: 100%;
  position: relative;
  min-height: 230px;
}

.card {
  display: flex;
  flex-direction: column;
  border: none;
}
/* width */
.new-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.new-scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  /* background-color: red;
  width: 50px; */
}

/* Handle */
.new-scroll::-webkit-scrollbar-thumb {
  background: #D1D1D1; 
  height: 5px;
  /* border-radius: 10px; */
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Handle on hover */
.new-scroll::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

@media only screen and (min-width: 550px) {
  .card {
    flex-direction: row;
    border: none;
  }
}

