.form-next{
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 40px;
}

.next-text{
  position: absolute;
  white-space: nowrap;
  font-size: 10px;
  bottom: 50px;
}

.next-symbol {
  position: absolute;
  bottom: 0px;
}

.next-symbol:hover{
  cursor: pointer;
  transition: linear 0.2s;
}

@media only screen and (min-width: 550px) {
  .form-next{
    font-size: 40px;
    margin: 10px 20px;
    position: relative;
  }
}