
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}



.apartment-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* padding: 3%; */
}

.card {
  font-family: 'Oswald', sans-serif;
  color: rgba(112,112,112,1);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.098);
  width: 100%;
  max-width: 600px;
  margin: 2%;
}
.card-photo{
  position: relative;
  width: 100%;
  min-height: 200px;
  /* max-width: 600px; */
  border-radius: 0px 0px 25px 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-photo:after {
  position: absolute;
  border-radius: 0px 0px 25px 25px;
  height: 100%;
  width: 100%;
  background-color: rgba(209, 209, 209, .3);
  top: 0;
  left: 0;
  display: block;
  content: "";
}
.card-photo--photo{
  width: 100%;
  height: auto;
}

.details {
  width: 100%;
  max-width: 600px;
  position: relative;
}
.upper-half {
  background-color: #287BAF;
  border-radius: 25px 25px 0px 0px;
  color: white;
}
.upper-details {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  font-weight: bold;
}
.upper-details--shared{
  display: flex;
  flex-direction: column;
}
.upper-details--share-status{
  font-size: 30px;
}
.upper-details--bedrooms {
  position: relative;
  top: -8px;
  font-weight: bold;
}
.upper-details--price {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 42px;
  padding: 0px;
}

.lower-details {
  font-family: Helvetica;
  padding: 3%;
}
.lower-details--building{
  font-size: 16;
}

.lower-details--details{
  margin: 5% 0%;
}
table tbody tr{
  height: 40px;
  font-weight: bold;
}
table tbody tr td {
  padding: 0px 5px;
  position: relative;
}
.lower-details--month-cell{
  width: 130px;
}
.lower-details--month-length{
  position: absolute;
  padding-left: 5px;
  top: 10px;
  z-index: 20;
  color:white;
}
.lower-details--lower-month-graph{
  position: absolute;
  top: 10px;
  width: 100%;
  background-color:#EFEDED;
  height: 20px;
}
.lower-details--month-graph{
  position: absolute;
  width: 10%;
  padding-left: 5px;
  top: 10px;
  z-index: 10;
  background-color: #707070;
  height: 20px;
}
.roommateIcons{
  font-size: 30px;
}
.lower-details--gender{
  display: flex;
  justify-content: center;
  background-color: gray;
  border-radius: 20px;
  width: 25px;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
}

.button--button {
	width: 100px;
  height: 42px;
  border-radius: 10px;
  background-color: rgba(255,134,98,1);
}

.button--text {
	width: 61px;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}




@media only screen and (min-width: 992px) {
  .card{
    width: 25%;
    min-width: 300px;
  }
  .upper-details {
    display: flex;
    justify-content: space-between;
  }

}
