
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

:root {
  --main-color:#287BAF;
  --secondary-color: #FF8662;
}

nav{
  background-color: var(--main-color);
  color: white;
}

nav .titles {
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Alike';
}

nav .title {
  font-size: 30px;
}
nav .subtitle {
  font-size: 20px;
}

div .container-fluid {
  padding: 0px;
}

.apartment-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 10% 2.8%;
}

.card {
  font-family: 'Oswald', sans-serif;
  color: rgba(112,112,112,1);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.098);
  width: 100%;
  max-width: 400px;
  margin: 2%;
}
.card-photo{
  position: relative;
  width: 100%;
  min-height: 200px;
  border-radius: 0px 0px 25px 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-photo:after {
  position: absolute;
  border-radius: 0px 0px 25px 25px;
  height: 100%;
  width: 100%;
  background-color: rgba(209, 209, 209, .3);
  top: 0;
  left: 0;
  display: block;
  content: "";
}
.card-photo--photo{
  width: 100%;
  height: auto;
}

.details {
  width: 100%;
  max-width: 600px;
  position: relative;
}
.upper-half {
  background-color:  var(--main-color);
  border-radius: 25px 25px 0px 0px;
  color: white;
}
.upper-details {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  font-weight: bold;
}
.upper-details--shared{
  display: flex;
  flex-direction: column;
}
.upper-details--share-status{
  font-size: 30px;
}
.upper-details--bedrooms {
  position: relative;
  top: -8px;
  font-weight: bold;
}
.upper-details--price {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 42px;
  padding: 0px;
}

.lower-details {
  font-family: Helvetica;
  padding: 3%;
}
.lower-details--building{
  font-size: 16;
}

.lower-details--details{
  margin: 5% 0%;
}
table tbody tr{
  height: 40px;
  font-weight: bold;
}
table tbody tr td {
  padding: 0px 5px;
  position: relative;
}
.lower-details--month-cell{
  width: 130px;
}
.lower-details--month-length{
  position: absolute;
  padding-left: 5px;
  top: 10px;
  z-index: 2;
  color:white;
}
.lower-details--lower-month-graph{
  position: absolute;
  top: 10px;
  width: 100%;
  background-color:#EFEDED;
  height: 20px;
}
.lower-details--month-graph{
  position: absolute;
  width: 10%;
  padding-left: 5px;
  top: 10px;
  z-index: 1;
  background-color: #707070;
  height: 20px;
}
.roommateIcons{
  font-size: 30px;
}
.lower-details--gender{
  display: flex;
  justify-content: center;
  background-color: gray;
  border-radius: 20px;
  width: 25px;
  color: white;
}

.main-button--container {
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

.main-button {
  padding: 0% 1%;
  border-radius: 10px;
  background-color: rgba(255,134,98,1);
}

.main-button--text {
	font-style: normal;
	color: rgba(255,255,255,1);
}




@media only screen and (min-width: 992px) {
  .card{
    width: 30%;
    min-width: 400px;
  }
  .upper-details {
    display: flex;
    justify-content: space-between;
  }
  nav .title {
    font-size: 50px;
  }
  nav .subtitle {
    font-size: 40px;
  }

}

.modal-container {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
  background-color:#fefefe;
  margin: auto;
  border-radius: 25px;
  width: 80%;
}
.close{
  position: relative;
  top: 10px;
  left: -20px;
  color: white;
  font-size: 30px;
}
.close:hover{
  cursor: pointer;
  color: white;
}
.summary{
  position: relative;
  background-color: var(--main-color);
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 5%;
}
div.summary-title  {
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  /* font-weight: 700; */
}

.summary-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summary-box{
  margin: 1%;
}

.summary-box--title  {
  background-color: #fff;
  color: var(--main-color);
  border-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 4%;
  font-weight: bold;
  width: 125px;
  /* font-size: 20px; */
  display: flex;
  flex-flow: column;
}

.summary-box--value{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 26px;
  padding: 5%;
}

.resident-confirmation {
  display: flex;
  flex-flow: row;
  color: var(--main-color);
  font-size: 20px;
}

.resident {
  /* margin: 0 10px; */
  position: relative
}

.resident--add {
  /* font-size: 90px; */
  color: #FFC5B4;
  cursor: pointer;
}
.resident--add:hover {
  color: var(--secondary-color);
}

.resident--remove {
  cursor: pointer;
}
.resident--remove:hover {
  color: #69A9D1;
}
.resident > span{
  width: 50px;
  position: absolute;
  color: white;
  font-size: 28px;
  left: 0px;
  top: 20px;
  text-align: center;
}


.app-info {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

.app-info--title{
  font-size: 30px;
}

.app-info--price{
  font-size: 40px;
}

.boxed {
  border: solid var(--main-color);
  border-radius: 25px;
  padding: 2%;
}

.boxed-title {
  color: #707070;
  font-size: 16;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 1% 1%;
}

div.new-prospect--conatiner {
  margin: 5%;
}
div.new-prospect--step {
  font-size: 25px;
  color: var(--main-color);
  padding-bottom: 2%;
}

.new-prospect--inputs {
  flex-grow: 2;
}
.new-prospect--input {
  border-radius: 10px;
  border: 3px solid var(--main-color);
  margin: 1%;
  padding: 0.5%;
}
.new-prospect--form {
  display: flex;
}

.button-options {
  list-style-type:none;
  margin: 1%;
  padding:0;
  flex-grow: 1;
}
.button-options li {
  float:left;
  margin:0 5px 0 0;
  color: var(--main-color);
  font-size: 16px;
  text-align: center;
}
.button-options label {
  /* padding:5px; */
  cursor:pointer;
  border-radius: 25px;
  width: 88px;
  border: 3px solid var(--main-color);
  -webkit-appearance: button;
  /* WebKit */
  -moz-appearance: button;
  /* Mozilla */
  -o-appearance: button;
  /* Opera */
  -ms-appearance: button;
  /* Internet Explorer */
  appearance: button;
  /* CSS3 */
}
.button-options label:hover {
  background: var(--main-color);
  color: white;
}
.selected {
  background: var(--main-color);
  color: white;
}


/* .mediaViewInfo {
  --web-view-name: Artboard – 1;
  --web-view-id: Artboard___1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Artboard___1;
}
#Artboard___1 {
  position: absolute;
  width: 484px;
  height: 149px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Artboard – 1;
  --web-view-id: Artboard___1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#monthly_rent {
  position: absolute;
  width: 386px;
  height: 111px;
  left: 49.5px;
  top: 19px;
  overflow: visible;
}
.Line_3 {
  overflow: visible;
  position: absolute;
  width: 386px;
  height: 5px;
  left: 0px;
  top: 73.5px;
  transform: matrix(1,0,0,1,0,0);
}
#low {
  position: absolute;
  width: 44px;
  height: 73px;
  left: 30.5px;
  top: 37px;
  overflow: visible;
}
.Ellipse_2 {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 14px;
  top: 29px;
}
#low_l {
  position: absolute;
  left: 5px;
  top: 0px;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: center;
  font-family: KufiStandardGK;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(40,123,175,1);
  letter-spacing: -0.1px;
}
#_700 {
  position: absolute;
  left: 0px;
  top: 52px;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(40,123,175,1);
  letter-spacing: -0.1px;
}
#high {
  position: absolute;
  width: 54px;
  height: 73px;
  left: 297.5px;
  top: 38px;
  overflow: visible;
}
.high-rent--dot {
  position: absolute;
  overflow: visible;
  width: 16px;
  height: 16px;
  left: 19px;
  top: 28px;
  cursor: move;
}
#high_p {
  position: absolute;
  left: 6px;
  top: 0px;
  overflow: visible;
  width: 43px;
  white-space: nowrap;
  text-align: center;
  font-family: KufiStandardGK;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(40,123,175,1);
  letter-spacing: -0.1px;
}
#_3700 {
  position: absolute;
  left: 0px;
  top: 52px;
  overflow: visible;
  width: 55px;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(40,123,175,1);
  letter-spacing: -0.1px;
}
#monthly_rent_r {
  position: absolute;
  left: 122.5px;
  top: 0px;
  overflow: visible;
  width: 135px;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(40,123,175,1);
  letter-spacing: -0.1px;
} */
