
.photo-scroll{
  overflow: auto;
  padding-right: 5px;
  width: 100%;
  height: 100%;
}

.photo-scroll-image {
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.stock-image{
  background-image: url(https://cdngeneral.rentcafe.com/dmslivecafe/3/20467/CA_LosAngeles_StrathmoreArms_p0000625_2_02_1_PhotoGallery.jpg?&quality=85&);
}

.stock-image-overlay{
  background-color: rgba(250, 250, 250, 0.5);
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 23% 0%;
  font-family: Lato;
}

@media only screen and (min-width: 550px) {
  .photo-scroll{
    height: 230px;
  }
}


