
.photo-scroll{
  overflow: auto;
  padding-right: 5px;
  width: 100%;
  height: 100%;
}

.photo-scroll-image {
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

@media only screen and (min-width: 550px) {
  .photo-scroll{
    height: 230px;
  }
}


